{% extends 'OutlandishAcadOowpBundle:Item:itemContent.html.twig' %}

{% block item_subtitle %}<h2>
    <p class="date">
        {{ item.dateString("j M Y", true) | raw }}
    </p></h2>
{% endblock %}
