{% if excerpt_length == 'none' %}{% set excerpt_length = 0 %}{% endif %}

{% block item_subtitle %}
    {% if date != 'no_date' %}<p class="date">{{ item.dateString("j M Y", true) | raw }}</p>{% endif %}
{% endblock %}
{% block item_title %}<h3 class="font-theme-colour">{{ item.title() | raw  }}</h3>{% endblock %}
{% block item_content %}
    {% if excerpt_length != 0 %}
        <p>{{ item.excerpt(excerpt_length) | raw }}</p>
    {% endif %}
{% endblock %}