{% block item_subtitle %}<p class="subtitle">{{ item.dateString() }}</p>{% endblock %}
{% block item_title %}<h3>{{ item.title() }}</h3>{% endblock %}
{% block item_content %}<p>{{ item.excerpt(excerpt_length) }}</p>{% endblock %}