{% extends '::layout.html.twig' %}

{% block content %}

    <h2>Unfortunately, the page you were looking for was not found. Perhaps these recent Articles may interest you?</h2>

    <div class="row">
        <div class="large-16 large-centered columns">
            <ul class="search-results">
                {% for item in post.recentResources() %}
                    <li>
                        {% block itemInclude %}
                            {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'excerpt_length': '150',
                            'classes' : classes} %}
                        {% endblock %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}