<div class="section featured">
    <div class="row">
        <div class="large-24 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
        </div>
    </div>
    {% set item = section.items | first  %}
    {% include "OutlandishAcadOowpBundle:Item:featuredItem.html.twig" with {'featured_heading' : 'none' } %}
    <div class="row">
        <div class="large-24 columns">
            <div class="row">
                {% if not excerpt_length %}{% set excerpt_length = 150 %}{% endif %}
                {% for item in section.items %}
                    {% if not loop.first and loop.index <= 3 %}
                        <div class="large-12 columns">
                            <hr>
                            {% include "OutlandishAcadOowpBundle:Default:item.html.twig" with {
                            'item': item,
                            'image': 'none',
                            'tags' : 'none',
                            'date' : 'date',
                            'excerpt_length': 120
                            } %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
