<div class="section featured-and-small">
    <div class="row">
        <div class="large-24 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
        </div>
    </div>
    {% set item = section.items | first  %}
    <div class="row">
        <div class="large-24 columns">
            {% include 'OutlandishAcadOowpBundle:Default:item.html.twig' with {
            'item': item,
            'classes': '',
            'tags' : 'none',
            'excerpt_length': 600 } %}
        </div>
    </div>
    <div class="large-24 columns">
        <div class="row small-featured">
            <ul class="small-block-grid-2 large-block-grid-6">
                {% for item in section.items %}
                    {% if not loop.first and loop.index <= 7 %}
                        <li>
                            <hr>
                            {% include 'OutlandishAcadOowpBundle:Default:item.html.twig' with {
                            'item': item,
                            'classes': 'main',
                            'image' : 'item-image-12',
                            'tags' : '',
                            'excerpt_length': 'none' } %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
