<div class="section large-grid">
    <div class="row">
        <div class="large-24 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="large-24 columns">
            <ul class="small-block-grid-2 large-block-grid-4">
                {% set classes = '' %}
                {% set image = 'item-image-12' %}

                {% for item in section.items %}

                    {#limit to 18 items#}
                    {% if loop.index <= 18 %}

                        {#display items 1-2 with excerpt and items 1-6 with images#}
                        {% if loop.index > 2 and loop.index <= 6 %}
                            {% set excerpt_length = 'none' %}
                            {% set classes = 'main' %}
                            {% set image = 'item-image-6' %}
                        {% else %}
                            {% set image = 'none' %}
                        {% endif %}

                        {#display items 1-2 at 50% width by showing image in separate li#}
                        {% if loop.index <= 2  %}
                            <li>
                                {{ item.featuredImage('item-image-12') | raw }}
                            </li>
                            {% set excerpt_length = 80 %}
                        {% endif %}

                        <li>{% include 'OutlandishAcadOowpBundle:Default:item.html.twig' with {
                            'item': item,
                            'classes': classes,
                            'image': image,
                            'date' : 'date',
                            'tags' : 'none',
                            'excerpt_length': excerpt_length} %}</li>

                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
</div>