<div class="section">
    <div class="row">
        <div class="large-24 columns">
            <h2>{{ section.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% set item = section.items | first  %}
            {% include 'OutlandishSiteBundle:Default:defaultItem.html.twig' with {
            'item': item,
            'classes': 'main',
            'image': 'large'} %}
        </div>
        <div class="large-12 columns">
            <ul class="large-block-grid-2">
                {% for item in section.items %}
                    {% if not loop.first and loop.index <= 3 %}
                        <li>{% include 'OutlandishSiteBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'classes': 'main',
                            'image':'large',
                            'excerpt_length': 150} %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>