<div class="section">
    <div class="row">
        <div class="large-24 columns">
            <h2>{{ section.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% set item = section.items | first  %}
            {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
            'item': item,
            'classes': 'main',
            'image': 'large'} %}
        </div>
        <div class="large-12 columns">
            {% for item in section.items %}
                {% if not loop.first and loop.index <= 4 %}
                    {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {'item': item, 'classes': ''} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>