<div class="section">
    <div class="row">
        <div class="large-24 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% set item = section.items | first  %}
            {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
            'item': item,
            'classes': 'main',
            'image': 'large'} %}
        </div>
        <div class="large-12 columns">
            <ul class="large-block-grid-2">
                {# if excerpt_length 0, it gets overriden in defaultItem.html.twig#}
                {% if not excerpt_length %}{% set excerpt_length = 0 %}{% endif %}
                {% for item in section.items %}
                    {% if not loop.first and loop.index <= 3 %}
                        <li>{% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'classes': 'main',
                            'image':'large',
                            'excerpt_length': excerpt_length} %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>