<div class="section">
    <div class="row">
        <div class="large-24 columns">
            {% include "OutlandishAcadOowpBundle:Section:title.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="large-24 columns">
            <ul class="large-block-grid-4">
                {% if not excerpt_length %}{% set excerpt_length = 150 %}{% endif %}
                {% for item in section.items %}
                    {% if loop.index <= 8 %}
                        <li>{% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'classes': 'main',
                            'image':'large',
                            'tags' : 'post-type',
                            'excerpt_length': excerpt_length} %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>