<div class="section">
    <div class="row">
        <div class="large-24 columns">
            <h2>{{ section.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-24 columns">
            <ul class="large-block-grid-4">
                {% for item in section.items %}
                    {% if loop.index <= 8 %}
                        <li>{% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'classes': 'main',
                            'image':'large',
                            'excerpt_length': 150} %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>