{% extends 'OutlandishAcadOowpBundle:Default:defaultIndex.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block content %}
    <h1>{{ post.title() }} - Person Index</h1>

{% endblock %}