{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="columns medium-{% if post.featuredImage('medium') %}12{% else %}24{% endif %}">
            <h2>{{ post.title() }}</h2>
            {{ post.content() | raw }}
        </div>
        {% if post.featuredImage('medium') %}
            <div class="columns medium-12">
                {% block item_image %}{{ post.featuredImage('medium') | raw }}{% endblock %}
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="columns large-24">
            {% if items | length > 0 %}
            <ul class="search-results">
                {% for item in items %}
                    <li>
                        {% block itemInclude %}
                            {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                            'item': item,
                            'excerpt_length': 300,
                            'image': 'medium'} %}
                        {% endblock %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>

{% endblock %}