<a href="{{ person.permalink() }}" class="people-item">
    {% include "OutlandishAcadOowpBundle:Partial:avatar.html.twig" with {
    'post': person,
    'size': 'avatar-square' } %}
    <h4>{{ person.title() }}</h4>
</a>