{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() | raw }}{% endblock %}
{% block content %}

    <article class="section">
        <div class="row">
            <div class="large-24 columns">
                {% block postTitle %}<h1>{{ post.title() | raw }}</h1>{% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="medium-8 medium-push-16 columns">
                {% block sideBar %}

                    {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                    'post': post,
                    'title': 'page'} %}

                    <div class="row">
                        <div class="large-24 columns">
                            <div class="content post">

                                {% include 'OutlandishAcadOowpBundle:Partial:featuredImg.html.twig' with {
                                    'post': post,
                                    'image' : 'item-image-12',
                                    'classes' : 'sidebar-featured-image'
                                } %}

                                {% block postContent %}

                                    {{ post.content() | raw }}

                                {% endblock %}

                            </div>
                        </div>
                    </div>

                {% endblock %}
            </div>
            <div class="medium-15 end medium-pull-8 columns">
                <div class="content main">

                    {% block related %}
                        {{ render(controller('OutlandishAcadOowpBundle:Search:renderRelatedPosts', {
                        'post': post
                        })) }}
                    {% endblock %}

                </div>
            </div>
        </div>
    </article>



{% endblock %}