<div id="filter-panel">
    <div class="row">
        <div class="large-22 columns large-centered">
            {% for facet in facets %}
                <div>
                    <h3>{{ facet.section }}</h3>
                    <ul class="small-block-grid-3 large-block-grid-8 block-grid-new-padding block-grid-link">
                        {% for option in facet.options %}
                            <li>
                                <a href="{{ option.post.permalink() }}">
                                    <img src="{{ option.post.featuredImage() }}"/>
                                    <h4>{{ option.post.title() }}</h4>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>