
<h2 class="no-results">Unfortunately, we couldn't find anything for "{{ search.query_vars.s }}". The below recently added resources might interest you.</h2>

{% set items = post.recentResources() %}
<ul class="small-block-grid-1 medium-block-grid-3 block-grid-new-padding block-grid-link">
    {% for item in items %}
        <li>
            <a href="{{ item.permalink() }}">
                {{ item.featuredImage() | raw }}
                <h4>{{ item.title() | raw }}</h4>
            </a>
        </li>
    {% endfor %}
</ul>