<div class="row">
    <div class="large-16 columns">
        <h2 class="no-results">Unfortunately, we couldn't find anything for "{{ search.query_vars.s }}". The below recently added resources might interest you.</h2>
    </div>
    <div class="columns large-7">
        {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
        'post': post,
        'title': 'page'} %}
    </div>
</div>

<div class="row">
    <div class="large-16 columns">
        <ul class="search-results">
            {% for item in post.recentResources() %}
                <li>
                    {% block itemInclude %}
                        {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                        'item': item,
                        'excerpt_length': '150',
                        'classes' : classes} %}
                    {% endblock %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>