{% block searchResultsContent %}
    {% if featuredItem %}
        {% block featuredItemContent %}
        {% endblock %}
    {% endif %}
    <div id="results">
        <h2>{{ search.found_posts }} Results: <span class="search-query">"{{ search.query_vars.s }}"</span></h2>
        <ul id="page-1" class="search-results">
            {% include 'OutlandishAcadOowpBundle:Default:items.html.twig' %}
        </ul>
    </div>
    <div class="row">
        <div class="columns large-12 large-centered">
            <a class="button" href="{{ moreResultsUrl }}" id="more-results">
                <span class="text">More Results</span>
                <span class="text-loading"><span class="fa fa-circle-o-notch fa-spin"></span> Loading</span>
            </a>
        </div>
    </div>
{% endblock %}