{% if not facets %}{% set facets = 'true' %}{% endif %}
{% if not excerpt_length %}{% set excerpt_length = 200 %}{% endif %}
{% if facets != 'false' %}
    <div class="search-facets">
        {{ formElements.post_type  | raw }}
    </div>
{% endif %}

<div id="results">
    <ul id="page-1" class="search-results">
        {% include 'OutlandishAcadOowpBundle:Partial:items.html.twig'
        with { excerpt_length: excerpt_length } %}
    </ul>
</div>
{% if search.post_count > 9 %}
    <div class="row">
        <div class="columns large-12 large-centered">
            <a class="button" href="{{ moreResultsUrl }}" id="more-results">
                <span class="text">More Results</span>
                <span class="text-loading"><span class="fa fa-circle-o-notch fa-spin"></span> Loading</span>
            </a>
        </div>
    </div>
{% endif %}
