{% if carousel_organisations | length > 0 %}
    {% block carousel_organisations %}

        <div class="row">
            <div class="large-24 columns">
                <div class="associated-organisations">
                    <div class="row">
                        <div class="large-24 columns">
                            <h3 class="block-heading">In partnership with</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-24 columns">
                            <ul class="carousel">
                                {% for org in carousel_organisations %}
                                    <li>
                                        <a href="{{ org.url }}" target="_blank">
                                            <img src="{{ org.logo }}">
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    {% endblock %}
{% endif %}

