<div class="post-item {{ classes }}"
    <div class="row">
        <div class="columns large-6">
            {% block item_image %}<div class="stand-in-image small"></div>{% endblock %}
        </div>
        <div class="columns large-18">
            {% block item_subtitle %}<p class="subtitle">{{ item.date }}</p>{% endblock %}
            {% block item_title %}<h3>{{ item.title() }}</h3>{% endblock %}
            {% block item_content %}<p>{{ item.excerpt() }}</p>{% endblock %}
        </div>
    </div>
</div>