{% extends '::layout.html.twig' %}

{% block content %}
    <h1>{{ hello }}</h1>

    {{ post.content() }}

    <ul>
        {% for item in items %}
            <li><a href="{{ item.permalink() }}">{{ item.title() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}