{% extends '::layout.html.twig' %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="large-10 columns">
                <div class="main-content">
                    {{ post.content() | raw }}
                </div>
            </div>
            <div class="large-14 columns">
                <div class="stand-in-image"></div>
                {#{{ post.featuredImage() }}#}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="row">
            <div class="large-24 columns">
                <h2>Latest News</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">

            </div>
            <div class="large-12 columns">

            </div>
        </div>
    </div>
{% endblock %}