{% extends '::layout.html.twig' %}

{% block title %}{{ post.title() | raw }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="small-24 columns">

            <div class="row">
                <div class="medium-15 columns">

                    <div class="content-main">
                        {% block content_main %}
                            <h1>{{ post.title() | raw }}</h1>
                            {{ post.content() | raw }}
                        {% endblock %}
                    </div>

                </div>
                <div class="medium-8 columns">

                    <div class="content-sidebar">
                        {% block content_sidebar %}
                            {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
                            'post': post} %}

                            {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
                            'maxDepth' : 3,
                            'rootPost': post.getRoot()
                            })) }}

                        {% endblock %}
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}