{% extends 'OutlandishAcadOowpBundle:Page:postAbstract.html.twig' %}

{% block content %}

    <div class="row">
        <div class="columns large-24">

            {% if items | length > 0 %}

                <div class="row">
                    <div class="columns large-16">

                        <h1>Search Results</h1>

                        {{ search_form.post_type | raw }}
                        {{ search_form.orderby | raw }}

                        {% include 'OutlandishAcadOowpBundle:Search:searchResults.html.twig' %}
                    </div>
                </div>

            {% elseif sections | length > 0 %}

                {% for section in sections %}
                    {% include 'OutlandishAcadOowpBundle:Section:' ~ section.layout ~ '.html.twig' %}
                {% endfor %}

            {% else %}

                {% block noSearchResults %}
                    {% include 'OutlandishAcadOowpBundle:Search:noResults.html.twig' with {'post': post } %}
                {% endblock %}

            {% endif %}

        </div>
    </div>

{% endblock %}