{% block footer_main %}

    <div class="row">
        <div class="large-6 columns">
            <div id="useful-links">
                <hr>
                {% block footer_navigation %}
                    <h3 class="block-heading">Navigation</h3>
                    <nav>
                        <ul>
                            {% for page in pages %}
                                <li><a class="font-theme-colour" href="{{ page.permalink() }}">{{ page.title() }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </div>
        <div class="large-6 columns">
            <hr>
            <h3 class="block-heading">News</h3>
            <p class="date">7 Jul 2014</p>
            <h4 class="font-theme-colour">Nam sim amet nunc dui</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="large-6 columns">
            <hr>
            <h3 class="block-heading">Events</h3>
            <p class="date">13 Sep - 20 Sep 2014</p>
            <h4 class="font-theme-colour">Sed ultrices</h4>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.
            </p>
        </div>
        <div class="large-6 columns">
            <div class="get-in-touch">
                <hr>
                <h3 class="block-heading">Get in touch</h3>
                {% block footer_address %}

                    <p>
                        <span>email@emailaddress.com</span><br/>
                        <span>{{ phonenumber }}</span>
                    </p>

                    <p>{{ address | raw }}</p>

                {% endblock %}
                {% include "OutlandishAcadOowpBundle:Partial:social.html.twig" with {
                'post': post,
                'title': 'event'} %}
            </div>
        </div>
    </div>

{% endblock %}

<div id="copyright">
    <div class="row">
        <div class="large-6 columns pull-left">
            <p>&copy; State Crime 2014</p>
        </div>
        <div class="large-6 columns pull-right">
            <p>An Outlandish website</p>
        </div>
    </div>
</div>