<div class="post-author">
    <div class="section"></div>
    <div class="row">
        <div class="large-8 columns">
        </div>
        <div class="large-16 columns">
            <div class="section">
                <p class="author-title">Renata Meirelles</p>
                <p class="author-desc">Renata Meirelles is taking part in a study abroad programme at King's College London. More ></p>
            </div>
        </div>
    </div>
</div>