{% if authors| length > 0 %}
    <hr>
    <h3 class="block-heading">Author{% if authorsauthors.items.posts  | length > 1 %}s{% endif %}</h3>
    <div class="authors-side">
        {% for person in authors %}

            {% include 'OutlandishAcadOowpBundle:Person:personItem.html.twig' with {
            'person': person,
            'size': 'small'} %}
        {% endfor %}
    </div>
{% endif %}
