{% if image == 'none' %}{% set image = 'large' %}{% endif %}

<div class="featured-image {{ classes }}">
    {{ post.featuredImage(image) | raw }}
    {% if post.featuredImageTitle() %}
        <p class="caption-title">{{ post.featuredImageTitle() | raw }}</p>
    {%  endif %}
    {% if post.featuredImageDescription() %}
        <p class="caption-description">{{ post.featuredImageDescription() | raw }}</p>
    {%  endif %}
</div>