<div class="share">
    <div class="row">
        <div class="large-12 columns">
            <hr>
            <h3 class="small-block-heading">Share this event</h3>
            <hr>
        </div>
    </div>
</div>