<li class="social-icon nav-icon">
    <i class="fa fa-share-alt"></i>
    <ul class="children">

        {% if socialmedia | length > 0 %}
            {% for media in socialmedia %}
                <li class="social-icon">
                    <a title="{{ media.title | raw }}" href="{{ media.url | raw }}" target="_blank">
                         <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa {{ media.type | raw }} fa-stack-1x fa-inverse"></i>
                          <span class="social-text">{{ media.social_text }}</span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        {% endif %}

    </ul>
</li>