@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #565859;
}

a {
	color: #268b85;
}

a:hover, a:focus {
	color: #126D66;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size : 2.25rem;
    line-height : 2.75rem;
    letter-spacing : 1.2px;
    color: #565859;
    color : rgb(86, 88, 89);
    margin-top: 0.3em;
}

h1 a {
    font-family: 'Roboto', sans-serif;
    font-weight : bold;
    font-size : 2.25rem;
    line-height : 2.75rem;
    letter-spacing : 1.2px;
    color: #565859;
    color : rgb(86, 88, 89);
    text-decoration : underline;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 24px;
    color: #565859;
    color : rgb(86, 88, 89);
}

h2 a {
    font-family: 'Roboto', sans-serif;
    font-weight : bold;
    font-size : 24px;
    color: #565859;
    color : rgb(86, 88, 89);
    text-decoration : underline;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 18px;
    letter-spacing : 0.9px;
    color: #565859;
    color : rgb(86, 88, 89);
    margin-bottom: 0.25rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 15px;
    letter-spacing : 0.9px;
    color: #565859;
    color : rgb(86, 88, 89);
    margin-bottom: 0.25rem;
}

h3.block-heading, p.date, .side-menu li a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    font-size: 16px;
}

h3.block-heading {
    margin: 0 0 1em 0;
}

h3.block-heading:before {
    content: "/";
    padding-right: 7px;
}

a h3 {
    text-decoration : underline;
}

h6.subhead {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 16px;
    line-height : 19.2px;
    letter-spacing : 0.8px;
    color: #565859;
    color : rgb(86, 88, 89);
    text-decoration : underline;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size : 18px;
    line-height : 24px;
    letter-spacing : 0.9px;
    color: #565859;
    color : rgb(86, 88, 89);
}

hr {
    border-color: #A0A1A3;
}

.additional-information p {
    font-weight: 400;
    font-size : 18px;
    letter-spacing : 0.9px;
    color: #565859;
}

.header {
	background: #33bab1;
	position: relative;
}

.header .top-header {
	padding: 1rem 0;
}

#hamburger, .mobile-header {
    display: none;
}

.header .bottom-header-row {
	background: #00a99d;
}

.header .bottom-header .columns {
	padding: 0;
}

.header .bottom-header li {
    padding: 0;
}

.header .bottom-header li a {
    text-align: center;
    padding: 0.8rem 1.5rem;
}

.header .bottom-header ul.children {
    margin: 7px -22px -10px 0;
    list-style: none;
    position: absolute;
    z-index: 1000;
    top: 43px;
    display: none;
}

.header .bottom-header nav .inline-list li:hover ul.children {
    display: block;
}

.header .bottom-header ul.children li {
    border-left: none;
    padding: 0;
    text-align: left;
    background: #268b85;
    margin-top: 1px;
}

.header .bottom-header ul.children li:hover {
    background: #126D66;
}

.header .bottom-header ul.children li a {
    text-align: left;
    display: block;
    min-width: 120px;
    padding: 10px 20px;
}

.main-title a {
	color: #FFFFFF;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

.main-title a:before {
	content: "/";
	padding-right: 7px;
}

.section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.stand-in-image {
    height: 300px;
    width: 100%;
    background-color: #000;
}

.stand-in-image.small {
    height: 150px;
    width: 100%;
    background-color: #000;
}

.small-centered, .large-centered {
    text-align: center;
}

/* styles for fonts*/

.font-large {
    font-size: 2.25rem!important;
    letter-spacing: 0.5px!important;
}

.font-theme-colour {
    color: #33BBB1!important;
}

/*page sections*/

.content {
    padding-top: 2rem;
}

.content p.date {
    font-weight: 200;
}

/* content types*/

.date.large {
    margin-bottom: 1rem;
}

.address {
    font-weight: bold;
}

.address.large {
    font-size: 28px;
    margin: 20px 0;
}

/* inputs */

input[type="text"] {
    padding: 4px 8px;
    height: 2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

/* main nav */

nav .inline-list {
    margin: 0;
}

nav .inline-list li {
	padding: 0.5rem 1.375rem;
	border-left: 1px solid #ffffff;
	margin: 0;
}

nav .inline-list li a {
    color: #ffffff;
	text-transform: uppercase;
}

nav .inline-list li:hover,
nav .inline-list li.current_page_item,
nav .inline-list li.current_page_ancestor{
	background: #268b85;
}

nav .inline-list li.search {
	background: #134643;
	padding: 0;
}

a.search-icon {
	padding: 0.8rem 1.375rem;
}

a.search-icon.submit {
    display: none;
}

/* main search */
.main-search,
.main-search input[type="text"]{
	background: #134643;
}
.main-search {
	display: none;
}

.main-search form {
    margin: 0;
}

.main-search label {
	display: none;
}

.main-search input[type="text"] {
    margin: 0 0 0.5rem 0;
    width: 35%;
    float: right;
    height: 2.6rem;
    line-height: 2.7rem;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.main-search input[type="text"]:focus {
	box-shadow: none;
}

.main-search input[type="text"]::-webkit-input-placeholder {
	color: #ffffff;
}

.main-search input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: #ffffff;
}

.main-search input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
	color: #ffffff;
}

.main-search input[type="text"]:-ms-input-placeholder {
	color: #ffffff;
}

.main-search button {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.25rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    background: #134643;
    color: #ffffff;
}

.main-search .filter {
    display: block;
    height: 2.5rem;
    padding: 0.75rem 0;
    color: #fff;
}

/* breadcrumbs */

#breadcrumbs {
    padding-bottom: 0;
	background: #f2f2f2;
	border: none;
}

.breadcrumbs {
    border: none;
}

.breadcrumbs .inline-list {
    margin: 0;
}

.breadcrumbs .inline-list li a {
    color: #000;
}

.breadcrumbs .inline-list li:before {
	content: "/";
	padding-right: 7px;
}

.breadcrumbs .inline-list>li>a {
	display: inline-block;
}

.breadcrumbs>*:hover a, .breadcrumbs>*:focus a {
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}


/* post-item */

.post-item {
    margin-bottom: 1rem;
    display: block;
}

.post-item h3 {
    font-size: 25px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.post-item:last-child {
    margin-bottom: 0;
}

.post-item .subtitle {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

ul.subtitle-list {
    list-style: none;
    margin-left: 0;
}

ul.subtitle-list li {
    display: inline;
    font-style: italic;
    font-size: 0.9em;
    padding-right: 15px;
}

/*these classes make elements in post items be container-wide so that image sits over text*/
.post-item.main>.row,
.post-item.main>.row>.columns {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
}

.post-item.main .subtitle {
    margin-top: 1rem;
}

.columns:first-of-type .post-item.image-overlay .row:first-of-type {
    padding-left: 0.9375em;
}

.post-item.image-overlay .columns:first-of-type {
    padding-left: 0;
    padding-right: 0;
}

.post-item.image-overlay .columns:first-of-type:after {
    content: '';
    top: 0;
    left: 15px;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #00A99E;
    opacity: 0.8;
    margin-left: -0.9375em;
}

.post-item.image-overlay.dark .columns:first-of-type:after {
    background: #606366;
}

.post-item.image-overlay .columns:first-of-type:hover:after {
    opacity: 1;
    background: transparent;
}

.post-item.image-overlay .columns:first-of-type p {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 0.1px;
    z-index: 100;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*white-space: nowrap;*/
}

.post-item.image-overlay .columns:first-of-type:hover:after {
    opacity: 1;
    background: transparent;
}

.post-item.image-overlay .columns:first-of-type:hover p {
    color: transparent;
}

.post-item img:hover {
    opacity: 1;
}

/* footer */

#footer h3 {
    margin-bottom: 0.5em;
}

#footer h4 {
    font-weight: bold;
}

#footer p,
#footer .post-item h3,
#footer .subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000;
}

#footer p {
    line-height: 1rem;
}

#footer nav {
    margin-top: 0;
}

#footer nav ul {
    margin-left: 0;
}

#footer nav ul li {
    list-style: none;
    line-height: 1.5em;
}

#footer nav ul li a {
    font-size: 0.9rem;
    font-weight: bold;
}

#footer .get-in-touch p {
    color: #565859;
    letter-spacing: 1px;
}

#footer #copyright {
    background: #636363;
}

#footer #copyright p {
    line-height: 3rem;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: underline;
}

#footer #copyright .columns:first-of-type p {
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

#footer #copyright .columns:last-of-type p {
    text-align: right;
    text-transform: lowercase;
    color: lightgrey;
}

/* Carousel */

.associated-organisations h3.block-heading {
    margin-bottom: 0;
}

.associated-organisations li {
    display: inline-block;
    zoom: 1;
    margin: 0 10px;
}

.caroufredsel_wrapper {
    margin-top: 30px!important;
    /*margin-bottom: 30px!important;*/
    min-height: 130px;
    margin-left: 0!important;
}

/* article default */

article img {
    width: 100%;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article .subtitle {
    font-size: 2rem;
}

/*sorting filter*/

.sort-filter {
    color: #A0A1A3;
    background: #ECECED;
    width: 100%;
    display: block;
    padding: 11px 0 11px 15px;
    border-bottom: 1px solid #A0A1A3;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
}

.sort-filter a {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    margin: 0 15px;
    padding: 8px 20px;
    font-weight: 400;
    color: #A0A1A3;
}

.sort-filter a.selected {
    background: #278A85;
    color: #fff;
}

/* author partial */

.post-author>.section {
    padding: 0;
}

.post-author .author-title {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
}

.post-author .author-desc {
    margin: 0;
}

/* social media icons*/

ul.social-media.inline-list {
    margin-left: -0.2rem;
}

ul.social-media.inline-list li {
    margin-left: 0.2rem;
}

ul.social-media li a {
    font-size: 1.5rem;
    color: #000;
}

/* search results */

ul.search-results {
    margin: 20px 0 0 0;
    padding: 0;
}

ul.search-results h3.block-heading {
    margin-bottom: 0;
}

ul.search-results>li {
    list-style: none;
    padding: 2rem 0;
}

ul.search-results>li:first-child {
    border-top-color: transparent;
}

/* side search results */

ul.search-results.sidebar {
    margin-top: 2rem;
}

ul.search-results.sidebar>li {
    border-top-color: #000;
    padding: 1rem 0;
}

ul.search-results.sidebar>li:first-child {
    border-top-color: #000;
}

ul.search-results.sidebar>li>ul {
    margin: 0;
    padding: 0;
}

ul.search-results.sidebar .main p.date {
    margin-top: 20px;
}

/*sidemenu*/

ul.side-menu {
    margin-left: 0;
}

.side-menu li{
    list-style: none;
}

.side-menu li {
    border-bottom: 2px solid #fff;
}

.side-menu li>a {
    background: #f5f5f5;
    padding: 15px 0;
}

.side-menu li.current_page_item>a, .side-menu li>a:hover {
    border-left: 12px solid #00AA9D;
}

.side-menu li:not(.current_page_item)>a:hover {
    padding-left: 13px;
}

.side-menu li.current_page_item>a {
    background: #E6EFEA;
}

.side-menu li>a {
    color: #565859;
    padding-left: 25px;
    display: block;
}

.side-menu :not(.current_page_ancestor)> .children {
    display: none;
}

ul.side-menu>:not(li) {
    display: none;
}

ul.side-menu>:not(li) {
    display: none;
}

.side-menu .children li a {
    background: #fff;
}

.side-menu .children li:not(:last-of-type) {
    border-bottom: 1px solid #A0A1A3;
}

/*contact page*/

.google-map .map {
    height: 420px;
    margin: -10px 0 20px 0;
}

img.contact-image {
    max-width: 200px;
}

p.contact-name {
    font-weight: bold;
}

/* People Pages */

ul.search-results.people li {
	border: none;
	clear: both;
}

ul.search-results.no-roles {
	margin-top: 1.9rem;
}
ul.search-results.no-roles li {
	padding: 1rem 0;
}

ul.search-results.people li.accordion-item .accordion-toggle:after {
	content: "(+)";
}

ul.search-results.people li.accordion-item.open .accordion-toggle:after {
	content: "(-)";
}

.people-item {
	float: left;
	margin: 0 20px 10px 0;
	text-align: center;
}

.people-item h4 {
	font-size: 0.9rem;
}

.people-intro p {
   font-size: 2rem;
   font-weight: lighter;
   line-height: 1.4;
}

.avatar {
	width: 100px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.person-details {
	border: 20px solid #f2f2f2;
	padding: 20px;
}

.vcard .avatar {
	width:200px;
}
.vcard.section {
	border: none;
}
.vcard .n {
	display: none;
}

.vcard h1 .fn {
	font-weight: normal;
	font-size: 2.25rem;
}

.authors {
	margin-bottom: 1rem;
	float: left;
}

.authors .people-item {
	width: 100%;
	clear: both;
	text-align: left;
}

.authors .people-item h4 {
	display: inline-block;
	margin-left: 0.4rem;
}

.authors .people-item .avatar {
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
	vertical-align: middle;
}

/* Social Sharing */

.share {
	margin-bottom: 2rem;
}

ul.social {
	list-style: none;
	margin: 0;
}

ul.social li {
	float: left;
    margin-right: 0.5em;
}

ul.social li a  {
	color: #00AA9D;
}

ul.social li a:hover  {
	color: #268b85
}

/*Event details in sidebar*/

.event-details h1 {
    margin: 20px 0;
}

.event-details p {
    margin-bottom: 5px;
}

.event-details p:first-of-type {
    margin-top: 20px;
}

/* Accordion */

.accordion-item > .accordion-content {
	display: none;
}

.accordion-item.open > .accordion-content {
	display: block;
}

/*Document*/

.attachment {
    background: #f5f5f5;
    padding: 20px;
}

.attachment p, .attachment a {
    font-size: 1.5em;
    font-weight: 500;
}

.attachment a {
    word-break: break-all;
}

.attachment a:hover {
    text-decoration: underline;
}

.attachment img {
    margin: 0 20px 0 10px;
    width: 90%;
}

.attachment a.download {
    color: #fff;
    background: #00AA9D;
    padding: 0.8rem 1.375rem;
    position: absolute;
    right: 20px;
    top: 40px;
}

.attachment a.download:hover {
    color: #134643;
}

.bio:not(:last-of-type):after {
    content: ",";
    padding-right: 4px;
}

/* Taxonomies */
ul.terms {
	list-style: none;
}

@media only screen and (max-width: 1024px)  {

    .contact-person {
        text-align: center;
    }

    .contact-person img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 782px) {

    .mobile-hide {
        display: none;
    }

    .header .top-header {
        padding: 0;
    }

    .header h1 {
        text-align: center;
        margin: 3px 0;
        font-size: 1.3rem;
    }

    .mobile-header {
        display: block;
    }

    .main-search {
        display: block!important;
        margin-left: 49px;
        z-index: 1;
    }

    .main-search input[type="text"] {
        margin: 0 0.2rem 0.5rem 0;
        width: 93%;
        float: left;
        height: 2.6rem;
        border-bottom: 1px solid #ffffff;
    }

    a.search-icon.submit {
        display: block;
        position: absolute;
        right: 55px;
        color: #fff!important;
        line-height: 1rem;
        z-index: 1;
        width: 10px;
    }

    #hamburger {
        text-align: left;
        font-size: 25px;
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 11.5px 13px 13px 13px;
        cursor: pointer;
        position: absolute;
        bottom: 37px;
        background: #01A8A0;
    }

    .header .bottom-header {
        height: 100%;
        width: 250px;
        left: -250px;
        z-index: 500;
        position: fixed;
        overflow: hidden;
        top: 0;
        background: #4D4D4D;
    }

    .header .bottom-header.open-nav {
        left: 0;
    }

    .header .bottom-header .inline-list.right {
        margin-top: 51px;
        float: none!important;
    }

    nav .inline-list li.search {
        display: none;
    }

    .header .bottom-header .inline-list>li {
        float: none;
        border-left: none;
    }

    .header .bottom-header nav .inline-list li:hover ul.children {
        display: none;
    }

    .header .bottom-header li a {
        color: #808080;
        font-weight: 400;
        text-align: left;
        border-bottom: 1px solid #808080;
        padding: 12px 30px 12px 32px;
    }

    .header .bottom-header nav .inline-list li:hover, .header .bottom-header nav .inline-list li.current_page_item, .header .bottom-header nav .inline-list li.current_page_ancestor {
        background: #808080;
        border-left: 12px solid #00AA9D;
    }

    .header .bottom-header nav .inline-list li:hover a, .header .bottom-header nav .inline-list li.current_page_item a, .header .bottom-header nav .inline-list li.current_page_ancestor a {
        color: #fff;
        padding-left: 20px;
    }

    .breadcrumbs {
        margin-top: 2px;
    }

    body, .bottom-header {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        left: 0;
    }

    body.push {
        left: 250px;
        position: fixed;
        top: 0;
    }
}