@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #565859;
    /*Uncomment below to restrict the width of whole body content*/
    /*max-width: 85em;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.row {
    max-width: 85em;
}

.row .row {
    /* Override the default padding because Abi thinks it's better looking ;) */
    margin-left: -1.618rem;
    margin-right: -1.618rem;
}

.columns {
    /* Override the default padding because Abi thinks it's better looking ;) */
    padding-left: 1.618rem;
    padding-right: 1.618rem;
}

.columns.align-width {
    /*Align content inside full-width elements to rest of page*/
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

a {
	color: #268b85;
    -moz-transition: all 1.6s;
    -webkit-transition: all 1.6s;
    transition: all 1.6s;
}

a:hover, a:focus {
    color: #126D66;
    -moz-transition: all 1.6s;
    -webkit-transition: all 1.6s;
    transition: all 1.6s;
}

h1, .vcard h1 .fn, .section .post-item h3.featured  {
    font-weight: bold;
    font-size : 2.25rem;
    line-height : 2.75rem;
    letter-spacing: 0px;
    color: #2E2E2E;
}

h1 a {
    text-decoration : underline;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 24px;
    color: #565859;
    color : rgb(86, 88, 89);
}

h2 a {
    font-family: 'Roboto', sans-serif;
    font-weight : bold;
    font-size : 24px;
    color: #565859;
    color : rgb(86, 88, 89);
    text-decoration : underline;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 18px;
    letter-spacing : 0.9px;
    color: #565859;
    color : rgb(86, 88, 89);
    margin-bottom: 0.25rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 15px;
    letter-spacing : 0.9px;
    color: #565859;
    color : rgb(86, 88, 89);
    margin-bottom: 0.25rem;
}

h3.block-heading, h3.block-heading a, p.date, .side-menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #a9a9a9;
}

p.date {
    font-size: 15px;
    letter-spacing: 1px;
    color: #565859;
    color: rgb(86, 88, 89);
    margin-bottom: 0.3rem;
}

h3.block-heading {
    margin: 3em 0 1em 0;
}

h3.block-heading:before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: darkgrey;
}

a h3 {
    text-decoration : underline;
}

h6.subhead {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 16px;
    line-height : 19.2px;
    letter-spacing : 0.8px;
    color: #565859;
    color : rgb(86, 88, 89);
    text-decoration : underline;
}

p, .content li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size : 18px;
    line-height : 27px;
    letter-spacing : 0.9px;
    color: #2E2E2E;
}

hr {
    border-color: #A0A1A3;
}

.additional-information p {
    font-weight: 400;
    font-size : 18px;
    letter-spacing : 0.9px;
    color: #565859;
}

/* Header */

.header {
	background: #33bab1;
	position: relative;
}

.header .top-header {
	padding: 1rem 0;
}

.header .top-header .columns:nth-of-type(2) {
    padding-left: 0;
}

.header .top-header p {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

#hamburger, .mobile-header {
    display: none;
}

.header .bottom-header-row {
	background: #00a99d;
    max-width: 100%;
}

.header .bottom-header {
    max-width: 85em;
    margin: 0 auto;
}

.header .bottom-header li {
    padding: 0;
}

.header .bottom-header li a {
    text-align: center;
    padding: 0.8rem 1.5rem;
}

.header .bottom-header ul.children {
    margin: 7px -22px -10px 0;
    list-style: none;
    position: absolute;
    z-index: 1000;
    top: 43px;
    display: none;
}

.header .bottom-header nav .inline-list li:hover ul.children {
    display: block;
}

.header .bottom-header ul.children li {
    border-left: none;
    padding: 0;
    text-align: left;
    background: #268b85;
    margin-top: 1px;
}

.header .bottom-header ul.children li:hover {
    background: #126D66;
}

.header .bottom-header ul.children li a {
    text-align: left;
    display: block;
    min-width: 120px;
    padding: 10px 20px;
}

.main-title a {
	color: #FFFFFF;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

.main-title a:before {
	content: "/";
	padding-right: 7px;
}

.section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.section .row {
    /*margin-bottom: 1.2rem;*/
}

.featured-image {
    margin-bottom: 0.5rem;
}

.featured-image img {
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}

.stand-in-image {
    height: 300px;
    width: 100%;
    background-color: #000;
}

.stand-in-image.small {
    height: 150px;
    width: 100%;
    background-color: #000;
}

/* We should not be applying styles like this to foundation styles. Use a new style if you want to center text in a centered column. */
/*.small-centered, .large-centered {*/
    /*text-align: center;*/
/*}*/

p.caption-title, p.caption-description {
    line-height: 1.3rem;
}

p.caption-title, .wp-caption-text {
    font-size: 0.8rem;
}

p.caption-description {
    font-size: 0.7rem;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0 30px 10px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

/* styles for fonts*/

.font-large {
    font-size: 2.25rem!important;
    letter-spacing: 0.5px!important;
}

.font-theme-colour {
    /*color: #33BBB1!important;*/
}

/*page sections*/

.content {
    padding-top: 2rem;
}

.content.post p:first-of-type {
    padding-top: 2rem;
}

.section .content h3.block-heading {
    font-size: 20px;
}

.section .content h2:before {
    display: none;
}

/* content types*/

.date.large {
    margin-bottom: 1rem;
}

.address {
    font-weight: bold;
}

.address.large {
    font-size: 28px;
    margin: 20px 0;
}

/* inputs */

input[type="text"] {
    padding: 4px 8px;
    height: 2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

/* main nav */

nav .inline-list {
    margin: 0;
}

nav .inline-list li {
	padding: 0.5rem 1.375rem;
	border-left: 1px solid #ffffff;
	margin: 0;
}

nav .inline-list li:nth-last-of-type(2), nav .inline-list li:last-of-type {
    border-right: 1px solid #ffffff;
}

nav .inline-list li a {
    color: #ffffff;
	text-transform: uppercase;
}

nav .inline-list li:hover,
nav .inline-list li.current_page_item,
nav .inline-list li.current_page_ancestor{
	background: #268b85;
}

nav .inline-list li.search {
    /** by putting the element last in list and giving it this CSS it will fill the space between the other elements **/
	background: #134643;
	padding: 0;
    overflow: hidden;
    float: none;
    position: relative; /** needed for absolute positioning of submit icon **/
    height: 100%;
}

a.search-icon {
	padding: 0.8rem 1.375rem !important;
}

/* main search */
.main-search,
.main-search input[type="text"],
.main-search .submit {
    background: #E7E7E7;
}
.main-search {
    margin: 40px 0 20px 0;
}

.main-search input[type="text"] {
    height: 4rem;
    line-height: 4rem;
    color: #4c4c4c;
    font-size: 2rem;
    padding-left: 20px;
}

.main-search input[type="text"]:focus {
	box-shadow: none;
}

.main-search input[type="text"]::-webkit-input-placeholder {
	color: #4c4c4c;
}

.main-search input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: #4c4c4c;
}

.main-search input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
	color: #4c4c4c;
}

.main-search input[type="text"]:-ms-input-placeholder {
	color: #4c4c4c;
}

.main-search .submit {
    position: absolute; /** position this over the right edge of the input **/
    top: 0;
    right: 30px;
    height: 4rem;
    line-height: 2.8rem;
}

.main-search .fa-search {
    font-size: 22px;
    color: #4c4c4c;
}

.main-search .fa-search:hover {
    color: #134643;
}

nav .inline-list .search-icon span {
    -moz-transition: all 1.6s;
    -webkit-transition: all 1.6s;
    transition: all 1.6s;
}

/* filter panel */
#filter-panel {
    background: #4c4c4c;
    display: none;
}

#filter-panel h2, #filter-panel h3, #filter-panel h4 {
    color: #f2f2f2;
}

#filter-panel h2, #filter-panel h3 {
    letter-spacing: 0;
    margin-bottom: 1.5rem;
}

#filter-panel h2 {
    font-size: 28px;
}

#filter-panel h3 {
    font-weight: 600;
    font-size: 24px;
}

#filter-panel h4 {
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

#filter-panel hr {
    border-color: white;
    border-width: 2px 0 0;
    margin-bottom: 0.2rem;
}

#filter-panel ul {
    margin-left: 1rem;
    margin-right: 1rem;
}

#filter-panel ul li a {
    display: block;
    text-align: center;
}

#filter-panel ul li:hover {
    background-color: #666666;
}

.block-grid-link li {
    padding: 0;
}

.block-grid-link li a {
    padding: 0 0.625em 1.25em;
}

.block-grid-new-padding li {
    padding: 0.625em;
}

.block-grid-new-padding.block-grid-link li {
    padding: 0;
}

.block-grid-new-padding.block-grid-link li a {
    padding: 0.625em;
}

/* breadcrumbs */


#breadcrumbs.section {
    background-color: #f5f5f5;
    padding-bottom: 0;
}

.breadcrumbs {
    border: none;
}

.breadcrumbs .inline-list {
    margin: 0;
}

.breadcrumbs .inline-list li a {
    color: #000;
}

.breadcrumbs .inline-list li:before {
	content: "/";
	padding-right: 7px;
}

.breadcrumbs .inline-list>li>a {
	display: inline-block;
}

.breadcrumbs>*:hover a, .breadcrumbs>*:focus a {
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}


/* post-item */

.post-item {
    display: block;
    padding: 2rem 0 1.5rem 0;
}

.post-item h3, .terms h3 {
    color: #2E2E2E;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
}

.post-item:last-child {
    margin-bottom: 0;
}

.post-item .subtitle {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}

.post-item .item-type, .post-item .item-type-image {
    color: #6f6f6f;
}

.post-item .item-type {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

.post-item .item-type-image {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
}

.post-item .item-type-image:before {
    font-family: dashicons;
    margin: 0 8px 0 0;
    font-size: 18px;
    vertical-align: middle;
}

.post-item .item-role {
    font-size: 15px;
    font-weight: 400;
}

.post-item .item-role {
    margin-bottom: 0;
}

ul.subtitle-list {
    list-style: none;
    margin-left: 0;
}

ul.subtitle-list li {
    display: inline;
    font-style: italic;
    font-size: 0.9em;
}

/*these classes make elements in post items be container-wide so that image sits over text*/
.post-item.main>.row,
.post-item.main>.row>.columns {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
}

.post-item.main .subtitle {
    margin-top: 1rem;
}

.post-item .item-authors,
.post-item .item-themes {
    padding-left: 1rem;
    font-size: 14px;
    color: #6f6f6f;
    margin-bottom: 0;
}

.columns:first-of-type .post-item.image-overlay .row:first-of-type {
    padding-left: 0.9375em;
}

.post-item.image-overlay .columns:first-of-type {
    padding-left: 0;
    padding-right: 0;
}

.post-item-image img {
    margin-top: 0.5rem;
}

.post-item.image-overlay .columns:first-of-type .post-item-image:after {
    content: '';
    top: 0;
    left: 15px;
    z-index: 10;
    width: inherit;
    height: 100%;
    display: block;
    position: absolute;
    background: #00A99E;
    opacity: 0.8;
    margin-left: -0.9375em;
}

.post-item.image-overlay.dark .columns:first-of-type:after {
    background: #606366;
}

.post-item.image-overlay .columns:first-of-type:hover:after {
    opacity: 1;
    background: transparent;
}

.post-item.image-overlay .columns:first-of-type .post-item-image p {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 0.1px;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    text-align: center;
    /*white-space: nowrap;*/
}

.post-item.image-overlay .columns:first-of-type:hover .post-item-image:after {
    opacity: 1;
    background: transparent;
}

.post-item.image-overlay .columns:first-of-type:hover p {
    color: transparent;
}

.post-item img:hover {
    opacity: 1;
}

/* footer */

#footer h3.block-heading {
    margin: 0 0 0.5em 0;
}

#footer h3.block-heading:before {
    height: 0;
}

#footer h4 {
    font-weight: bold;
}

#footer p,
#footer .post-item h3,
#footer .subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    color: #000;
}

#footer .post-item h3.font-theme-colour {
    font-weight: bold;
}

#footer p {
    line-height: 1rem;
}

#footer hr {
    border-color: darkgrey;
    border-width: 2px;
    margin-bottom: 0.1em;
}

#footer nav {
    margin-top: 0;
}

.inline-item {
    display: inline!important;
}

#footer nav ul {
    margin-left: 0;
}

#footer nav ul li {
    list-style: none;
    line-height: 1.5em;
}

#footer nav ul li a {
    font-size: 0.9rem;
    font-weight: bold;
    color: #33BBB1;
    -moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
}

#footer nav ul li a:hover {
    color: #126D66;
    -moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
}


#footer nav ul.children {
    margin-left: 30px;
}

#footer .get-in-touch p {
    color: #565859;
    letter-spacing: 1px;
}

#footer .share {
    margin-top: 0;
}

#footer #copyright {
    background: #636363;
}

#footer #copyright p {
    line-height: 3rem;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: underline;
}

#footer #copyright .columns:first-of-type p {
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

#footer #copyright .columns:last-of-type p {
    text-align: right;
    text-transform: lowercase;
    color: #E7E7E7;
}

/* Carousel */

.associated-organisations h3.block-heading {
    margin: 40px 0 0 0;
}

.associated-organisations li {
    display: inline-block;
    zoom: 1;
    margin: 0 10px;
}

.caroufredsel_wrapper {
    margin-top: 30px!important;
    /*margin-bottom: 30px!important;*/
    min-height: 130px;
    margin-left: 0!important;
    max-width: 85em;

}

/* article default */

article img {
    width: auto;
    max-height: 500px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article .subtitle {
    font-size: 2rem;
}

/*Generic section styles*/

.section h2, .section h2 a {
    color: #00a99d;
    text-decoration: none;
    font-weight: bold;
}

.section h2:before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background: #00a99d;
}

.section .post-item {
    padding-top: 0;
}

.section .post-item h3 {
    color: #000;
    font-size: 20px;
    letter-spacing: 0;
}

.section a h2, .section a.post-item h3, .section a.post-item h3.featured {
    -moz-transition: all 1.6s;
    -webkit-transition: all 1.6s;
    transition: all 1.6s;
    display: inline;
}

.section a:hover h2, .section a.post-item h3:hover, .section a.post-item a h3:focus, .section a.post-item h3.featured:hover {
    color: #126D66;
    -moz-transition: all 1.6s;
    -webkit-transition: all 1.6s;
    transition: all 1.6s;
}

/*Featured section styles*/

.section.featured .columns .columns  {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.section.featured h2:before {
    display: none;
}

/*Large grid section styles*/

.section.large-grid .post-item-image img {
    margin-bottom: 10px;
}

.section.large-grid ul li h3 {
    font-weight: normal;
}

.section.large-grid ul li:nth-child(-n+4) h3 {
    color: #2E2E2E;
    font-size: 21px;
}

.section.large-grid ul li a:hover h3 {
    color: #126D66;
}

.section.large-grid ul li:nth-child(-n+12) h3 {
    font-weight: bold;
}

.section.large-grid ul li:nth-child(n+13) h3 {
    font-weight: normal;
}

.section.large-grid ul li:nth-child(n+5):before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #B0B0B0;
    margin: 10px 0 30px 0;
}

.section.large-grid ul li:nth-child(5):before, .section.large-grid ul li:nth-child(7):before {
    /*join up top border of 5th and 6th item*/
    min-width: 400px;
}

/*sorting filter*/

.sort-filter {
    color: #A0A1A3;
    background: #ECECED;
    width: 100%;
    display: block;
    padding: 11px 0 11px 15px;
    border-bottom: 1px solid #A0A1A3;
    font-size: 15px;
    line-height: 15px;
    margin-top: 20px;
}

.sort-filter a {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    margin: 0 15px;
    padding: 8px 20px;
    font-weight: 400;
    color: #A0A1A3;
}

.sort-filter a.selected {
    background: #278A85;
    color: #fff;
}

/* author partial */

.post-author>.section {
    padding: 0;
}

.post-author .author-title {
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
}

.post-author .author-desc {
    margin: 0;
}

/* social media icons*/

ul.social-media.inline-list {
    margin-left: -0.2rem;
}

ul.social-media.inline-list li {
    margin-left: 0.2rem;
}

ul.social-media li a {
    font-size: 1.5rem;
    color: #000;
}

/* search facet lists */

.search-facets {
    background-color: #00a99d;
}

.search-facet li {
    margin-left: 0;
}

.search-facet li:first-child {
    margin-left: 1.375rem;
}

.search-facet li label {
    color: #fff;
    padding: 0.8rem 1.5rem;
    background-color: #00a99d;
}

.search-facet li label:hover,
.search-facet li.active label{
    background-color: #268b85;
}

.search-facet li input {
    display: none;
}

/* search results */

ul.search-results {
    margin: 20px 0 0 0;
    padding: 0;
}

ul.search-results>li {
    list-style: none;
}

ul.search-results>li:not(first-of-type):before {
    content: "";
    display: block;
    height: 1px;
    background: #B0B0B0;
    margin-bottom: 3rem;
}

ul.search-results>li:first-child, .search-results>li:first-child:before {
    border-top-color: transparent;
    background: transparent;
    margin-bottom: 0;
}

ul.search-results .post-item {
    padding: 1rem 0 3.5rem 0;
}

/* side search results */

ul.search-results.sidebar {
    margin-top: 2rem;
}

ul.search-results.sidebar>li {
    border-top-color: #000;
    padding: 1rem 0;
}

ul.search-results.sidebar>li:first-child {
    border-top-color: #000;
}

ul.search-results.sidebar>li>ul {
    margin: 0;
    padding: 0;
}

ul.search-results .post-item.side-items {
    padding: 0 0 1.5rem 0;
}

ul.search-results.sidebar .main p.date {
    padding-top: 20px;
}

p.no-search-results {
    font-weight: 500;
    font-size: 20px;
    padding-left: 40px;
}

/*sidemenu*/

ul.side-menu {
    margin-left: 0;
}

.side-menu li{
    list-style: none;
    border-bottom: 2px solid #fff;
}

.side-menu li>a {
    background: #f5f5f5;
    padding: 15px 0;
    color: #565859;
    padding-left: 25px;
    display: block;
    font-weight: 600;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.side-menu li.current_page_item>a, .side-menu li>a:hover {
    border-left: 12px solid #00AA9D;
}

.side-menu li:not(.current_page_item)>a:hover {
    padding-left: 13px;
}

.side-menu li.current_page_item>a {
    background: #E6EFEA;
}

.side-menu :not(.current_page_ancestor)> .children {
    display: none;
}

/*ul.side-menu>:not(li) {*/
    /*display: none;*/
/*}*/

ul.side-menu>h3 {
    display: block;
}

.side-menu .children li a {
    background: #fff;
}

.side-menu .children li:not(:last-of-type) {
    border-bottom: 1px solid #A0A1A3;
}

.side-menu h3:not(.block-heading), .terms h3 {
    font-size: 20px;
    vertical-align: middle;
    line-height: 20px;
}

.side-menu h3:not(.block-heading) {
    display: inline;
    color: #2E2E2E!important;
    font-weight: 600;
    font-size: 18px;
}

.side-menu .post-item:before {
    content: "";
    display: block;
    height: 1px;
    max-width: 90%;
    background: lightgrey;
    margin: 0 auto 25px auto;
}

.side-menu .post-item:first-of-type:before {
    background: transparent;
}

.side-menu h3 + .post-item:before {
    background: transparent;
    margin-bottom: 0;
}

.terms h3 {
    display: inline-block;
}

/* Front page*/

.main-content {
    margin-top: 2rem;
}

/*contact page*/

.google-map .map {
    height: 420px;
    margin: 10px 0 20px 0;
}

.contact h3.block-heading {
    padding: 30px 0;
}

.contact-people {
    margin-top: 40px;
}

img.contact-image {
    max-width: 200px;
}

p.contact-name {
    font-weight: bold;
    font-size: 16px;
}

/* People Pages */

ul.search-results.people li.person-item {
    padding: 30px;
    text-align: center;
}

ul.search-results.no-roles {
	margin-top: 1.9rem;
}
ul.search-results.no-roles li {
	padding: 1rem 0;
}

ul.search-results.people.accordion {
    margin-top: 0;
}

ul.search-results.people li.accordion-item {
    padding-top: 0;
}

ul.search-results>li.accordion-item:before {
    background: transparent;
}

ul.search-results.people li.accordion-item h3.block-heading {
    margin: 20px 0 30px 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

ul.search-results.people li.accordion-item .accordion-toggle h3:after {
	content: "(+)";
}

ul.search-results.people li.accordion-item.open .accordion-toggle h3:after {
	content: "(-)";
}

.people-item {
	text-align: center;
}

.people-item .columns {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 50px;
}

.people-items li {
    text-align: center;
}

.people-items a {
    padding-right: 30px;
}

.people-item h4 {
    font-size: 1rem;
    font-weight: bold;
    /*padding-top: 10px;*/
}

.people-intro p:not(.wp-caption-text) {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.9px;

}

.people-intro p.wp-caption-text {
    font-size: 0.9rem;
    font-weight: normal;
}

.avatar {
	/*width: 100px;*/
	-webkit-border-radius: 50%;
	border-radius: 50%;
    max-height: 140px;
}

.person-heading {
    margin-top: 20px;
}

.person-details {
    margin-bottom: 50px;
}

.person-details p {
    font-size: 16px;
    margin-bottom: 5px;
}

.person-details p:first-of-type {
    padding-top: 15px;
}

.person-details p:last-of-type {
    margin-bottom: 0;
}

.vcard .avatar {
	max-width: 120px;
}

img.avatar.photo {
    margin: 0;
}

.vcard {
	border: none;
}
.vcard .n {
	display: none;
}

.vcard .person-heading .role {
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
}

.vcard .person-details {
    display: block;
}

.vcard .person-details .fn {
    font-weight: 400;
    font-size: 16px;
}

.equalise {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.authors {
	margin-bottom: 1rem;
	float: left;
}

.authors .people-item {
	width: 100%;
	clear: both;
	text-align: left;
}

.authors .people-item h4 {
	display: inline-block;
	margin-left: 0.4rem;
}

.authors .people-item .avatar {
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
	vertical-align: middle;
}

/* Social Sharing */

.share {
	margin-top: 2rem;
}

ul.social {
	list-style: none;
	margin: 0;
}

ul.social li {
	display: inline;
    margin-right: 0.5em;
}

ul.social li a  {
	color: #4c4c4c;
}

ul.social li a:hover  {
	color: #268b85
}

/*Event details in sidebar*/

.event-details h1 {
    margin: 20px 0;
}

.event-details p {
    font-size: 14px;
    letter-spacing: 1px;
    color: #565859;
    color: rgb(86, 88, 89);
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.event-details p:first-of-type {
    margin-top: 20px;
}

/* Accordion */

.accordion-item > .accordion-content {
	display: none;
}

.accordion-item.open > .accordion-content {
	display: block;
}

/* Button */

.button {
    display: block;
    border: 2px solid #000;
    text-align: center;
    background-color: transparent;
    color: #000;
}

.button:hover,
.button.loading {
    background-color: #000;
    color: #fff;
}

.button .text-loading {
    display: none;
}

.button.loading .text {
    display: none;
}

.button.loading .text-loading {
    display: inline;
}
/*Document*/

.attachment {
    background: #f5f5f5;
    padding: 30px;
}

.attachment p, .attachment a {
    font-size: 1.1em;
    font-weight: 600;
    word-break: normal;
    margin-bottom: 0;
}

.attachment a {
    word-break: break-all;
}

.attachment a:hover {
    color: #4c4c4c;
}

.attachment a:hover p {
    text-decoration: underline;
}

.attachment img {
    margin: 0 20px 0 10px;
    width: 90%;
}

.attachment .fa-file-text {
    font-size: 4.5rem;
    top: 5px;
}

.attachment a.download {
    color: #fff;
    background: #00AA9D;
    padding: 0.8rem 1.375rem;
    position: absolute;
    right: 20px;
    top: 40px;
}

.attachment a.download:hover {
    color: #134643;
}

.bio:not(:last-of-type):after {
    content: ",";
    padding-right: 4px;
}

.side-items {
    margin: 10px 0 30px 0;
}

a.side-items {
    padding: 0;
}

.section .side-items .row {
    margin-bottom: 0;
}

.side-items .columns {
    padding-top: 0;
}

.side-items img {
    max-width: 100%;
    float: left;
    margin: 5px 30px 0 0;
    border-radius: 50%;
    max-height: 140px;
}

.side-items h3 {
    text-align: left;
    padding: 0;
    color: #33BBB1!important;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

/* Taxonomies */
ul.terms {
	list-style: none;
}

@media only screen and (max-width: 1024px)  {

    .header .top-header p {
        font-size: 13px;
    }

    .header .bottom-header li a {
        padding: 0.8rem 1.2rem;
        font-size: 15px;
    }

    nav .inline-list li:nth-last-of-type(2) {
        border-right: none;
    }

    .main-search .submit {
        top: 40px;
    }

    .main-search input[type="text"] {
        width: 20rem;
    }

    .contact-person {
        text-align: center;
    }

    .contact-person img {
        margin-left: auto;
        margin-right: auto;
    }

    .associated-organisations img {
        max-width: 110px!important;
    }
}

@media screen and (max-width: 980px) {

    .header .bottom-header li.page_item a {
        padding: 0.8rem 0.8rem;
    }

}

@media screen and (max-width: 860px) {

    ul.social li {
        margin-right: 0;
    }

    .header .top-header p {
        font-size: 12px;
    }

}

@media screen and (max-width: 782px) {

    .mobile-hide {
        display: none;
    }

    body, .bottom-header {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        left: 0;
    }

    body.push {
        left: 250px;
        position: fixed;
        top: 0;
    }

    .header {
        height: 50px;
        margin-bottom: 50px;
    }

    .header h1 {
        text-align: center;
        margin: 3px 0 12px 0;
        font-size: 1.3rem;
    }

    .header .top-header, .header .bottom-header .columns {
        padding: 0;
    }

    .header .bottom-header-row {
        margin-bottom: -10px;
    }

    .header .bottom-header {
        height: 100%;
        width: 250px;
        left: -250px;
        z-index: 500;
        position: fixed;
        overflow: hidden;
        top: 0;
        background: #4D4D4D;
    }

    .header .bottom-header.open-nav {
        left: 0;
    }

    .header .bottom-header ul {
        width: 250px;
    }

    .header .bottom-header .inline-list.right {
        margin-top: 51px;
        float: none!important;
    }

    .header .bottom-header .inline-list>li {
        float: none;
        border-left: none;
    }

    .header .bottom-header nav .inline-list li:hover, .header .bottom-header nav .inline-list li.current_page_item, .header .bottom-header nav .inline-list li.current_page_ancestor {
        background: #808080;
        border-left: 12px solid #00AA9D;
    }

    nav .inline-list li.search, nav .inline-list li.filter-toggle, .header .bottom-header nav .inline-list li:hover ul.children {
        display: none;
    }

    .header .bottom-header li a {
        color: #808080;
        font-weight: 400;
        text-align: left;
        padding: 12px 30px 12px 32px;
    }

    .header .bottom-header li.page_item a {
        padding: 0.8rem 0 0.8rem 32px;
    }

    .header .bottom-header li:not(:nth-last-of-type(2)) a {
        border-bottom: 1px solid #808080;
    }

    .header .bottom-header nav .inline-list li:hover a, .header .bottom-header nav .inline-list li.current_page_item a, .header .bottom-header nav .inline-list li.current_page_ancestor a {
        color: #fff;
        padding-left: 20px;
    }

    .mobile-header {
        display: block;
    }

    .mobile-header a.search-icon.submit {
        top: 5px;
    }

    #hamburger {
        text-align: left;
        font-size: 25px;
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 11.5px 13px 13px 13px;
        cursor: pointer;
        position: absolute;
        background: #01A8A0;
        top: 0;
    }

    #filter-panel .columns {
        padding: 0;
    }

    .main-search {
        margin: 10px 0 0px 0;
        display: block!important;
        margin-left: 49px;
        z-index: 1;
    }

    .main-search .fa-search {
        font-size: 20px;
        margin-top: -5px;
    }

    .main-search .submit {
        height: 42px;
        top: 10px;
        line-height: 0;
    }

    .main-search input[type="text"] {
        margin: 0 0.2rem 0.5rem 2px;
        width: 93%;
        float: left;
        height: 2.6rem;
        border-bottom: 1px solid #ffffff;
        line-height: 2.2rem;
        font-size: 1.6rem;
    }

    a.search-icon.submit {
        display: block;
        position: absolute;
        right: 55px;
        color: #fff!important;
        line-height: 1rem;
        z-index: 1;
        width: 10px;
        top: 10px;
        right: 30px;
    }

    .breadcrumbs {
        display: none;
    }

    .caroufredsel_wrapper {
        min-height: 40px;
    }

    .associated-organisations img {
        max-width: 90px!important;
    }

    .google-map .map {
        height: 200px;
        margin-top: 10px;
    }

    .sort-by {
        display: none;
    }

    .sort-filter {
        padding: 9px 0 8px 0;
    }

    .sort-filter a {
        font-size: 14px;
        margin: 0;
        padding: 8px 10px;
    }

    .post-item.image-overlay .columns:first-of-type p {
        margin-top: 20%;
    }

    .post-item.image-overlay .columns:first-of-type img, .post-item.image-overlay .columns:first-of-type:after {
        max-width: 95%;
    }

    .people-intro p:not(.wp-caption-text) {
        font-size: 1.4rem;
        font-weight: 300;
    }

    ul.search-results.people li {
        padding: 20px;
    }
}


/* Button */

.button {
    display: block;
    border: 2px solid #000;
    text-align: center;
    background-color: transparent;
    color: #000;
}

.button:hover,
.button.loading {
    background-color: #000;
    color: #fff;
}

.button .text-loading {
    display: none;
}

.button.loading .text {
    display: none;
}

.button.loading .text-loading {
    display: inline;
}

/* Button */

.button {
    display: block;
    border: 2px solid #000;
    text-align: center;
    background-color: transparent;
    color: #000;
}

.button:hover,
.button.loading {
    background-color: #000;
    color: #fff;
}

.button .text-loading {
    display: none;
}

.button.loading .text {
    display: none;
}

.button.loading .text-loading {
    display: inline;
}

/*IE8 hacks*/
.post-item.image-overlay .columns:first-of-type p {
    margin-top: 25%\9;
}
ul.search-results.sidebar .main.image-overlay .columns:first-of-type p.date {
    margin-top: 20%\9;
}
.post-item.image-overlay .columns:first-of-type:after, .post-item.image-overlay.dark .columns:first-of-type:after {
    background: transparent\9;
}