{% extends 'OutlandishAcadOowpBundle:Default:defaultIndex.html.twig' %}

{% block searchResults %}

    {% if items | first ['month'] is defined %}

        {% for month in items %}

            {% if not loop.first %} <hr> {% endif %}

            <h3 class="block-heading">{{ month.month | raw }}</h3>

            {% for item in month['posts'] %}
                <li>
                    {% block itemInclude %}
                        {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                        'item': item,
                        'excerpt_length': 300,
                        'image': 'item-12',
                        'classes': 'image-overlay'} %}
                    {% endblock %}
                </li>
            {% endfor %}
        {% endfor %}

    {% else %}

        {% for item in items %}
            <li>
                {% include 'OutlandishAcadOowpBundle:Default:defaultItem.html.twig' with {
                'item': item,
                'excerpt_length': 300,
                'image': 'item-12'} %}
            </li>
        {% endfor %}

    {% endif %}

{% endblock %}

{% block noSearchResults %}

    <div class="row">
        <div class="columns 20-large">
            <p>No future events found.</p>

            {% if previousItems | length > 0 %}

                <p>See below for our past events:</p>
                <br>

                {% include "OutlandishAcadOowpBundle:Partial:connected.html.twig" with {
                'connectedItems': previousItems,
                'classes': 'none'} %}

            {% endif %}

        </div>
    </div>

{% endblock %}