{% extends 'OutlandishAcadOowpBundle:Resource:indexAbstract.html.twig' %}

{% block content_main_results %}

    {% include 'OutlandishAcadOowpBundle:Partial:searchResults.html.twig' %}

{% endblock %}

{% block content_main_no_results %}

    <h3 class="block-heading">Upcoming Events</h3>
    <p>There are currently no upcoming events.</p>

    {% if past_items | length > 0 %}

        <p>See below for some recent events.</p>

        {% include 'OutlandishAcadOowpBundle:Partial:searchResults.html.twig' with {
        'items': past_items} %}

    {% endif %}

{% endblock %}

{% block content_sidebar %}

    {{ parent() }}

    {% if past_items | length > 0 %}

        <section class="related-themes">
            <h3 class="block-heading">Recent Event</h3>
            <ul>
                <li>{% include 'OutlandishAcadOowpBundle:Default:item.html.twig' with {
                    'item': past_items | first,
                    'excerpt_length': 'none',
                    'image':'avatar-square',
                    'classes' : classes} %}</li>
            </ul>
        </section>

    {% endif %}

{% endblock %}