{% extends 'OutlandishAcadOowpBundle:Default:defaultPost.html.twig' %}

{% set author_names = post.author_names() %}
{% set authors = post.authors() %}

{% block sideBar %}

    <div class="row">
        <div class="large-24 columns">

            {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
            'post': post,
            'title': 'page'} %}

        </div>
    </div>

    {% block authors %}

        <div class="row">
            <div class="large-24 columns">

                {% include "OutlandishAcadOowpBundle:Partial:author.html.twig" with {
                'authors': authors}
                %}

            </div>
        </div>

    {% endblock %}

    <div class="row">
        <div class="large-24 columns">

            <ul class="side-menu">

                {% block side_menu %}
                    {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
                    'maxDepth' : 3,
                    'rootPost': post.getRoot()
                    })) }}

                    {% block connected_side_posts %}

                        <li>

                            {% include "OutlandishAcadOowpBundle:Partial:connected.html.twig" with {
                            'connectedItems': sideItems} %}

                        </li>

                    {% endblock %}

                {% endblock %}

            </ul>

        </div>
    </div>

{% endblock %}
