{% extends 'OutlandishAcadOowpBundle:Default:postAbstract.html.twig' %}

{% block sideBar %}

    <div class="row">
        <div class="large-24 columns">

            {% include "OutlandishAcadOowpBundle:Partial:share.html.twig" with {
            'post': post,
            'title': 'page'} %}

        </div>
    </div>

    <div class="row">
        <div class="large-24 columns">

            <ul class="side-menu">

                {% block side_menu %}
                    {{ render(controller('OutlandishAcadOowpBundle:Navigation:renderSideMenu', {
                    'maxDepth' : 3,
                    'rootPost': post.getRoot()
                    })) }}

                {% endblock %}

            </ul>

            {% block connected_side_posts %}

                {% include "OutlandishAcadOowpBundle:Partial:connected.html.twig" with {
                'connectedItems': sideItems,
                'classes' : 'side-items'} %}

            {% endblock %}

        </div>
    </div>

{% endblock %}
